In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

In [26]:
df = pd.read_csv('students_placement.csv')

In [27]:
df.shape

(300, 4)

In [28]:
df.sample(5)

     cgpa   iq  profile_score  placed
233  6.97  105             53       1
130  6.69   93             72       1
85   6.86  106             59       0
41   6.05  106             94       0
6    7.40  100             71       1

In [29]:
X = df.drop(columns=['placed'])
y = df['placed']

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=2, stratify=y) #stratify=y?
print(pd.Series(y_train).value_counts())
print(pd.Series(y_test).value_counts())
X_re, y_re = SMOTE(random_state=42, k_neighbors=2).fit_resample(X_train, y_train) #only apply SMOTE on training dataset
print(pd.Series(y_re).value_counts())

1    106
0    104
Name: placed, dtype: int64
1    46
0    44
Name: placed, dtype: int64
0    106
1    106
Name: placed, dtype: int64

In [31]:
model = svm.SVC(kernel='rbf', C=10)

model.fit(X_re,y_re)
y_pred = model.predict(X_test)

print(model.score(X_re, y_re))
print(model.score(X_test, y_test))

0.8726415094339622
0.8888888888888888

In [32]:
import pickle 
pickle.dump(model,open('model.pkl','wb'))